* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #0f0f0f;
    margin: 0;
}

@font-face {
    font-family: "Smash";
    src: url("smash.ttf") format("truetype");
}

@font-face {
    font-family: "Smash-2";
    src: url("smash_2.ttf") format("truetype");
}

#header{
    height: 60px;
    width: 100%;
    background: rgb(34, 34, 34);  
    color: white;  
}

#header > * {
    font-family: Smash-2 !important;
}

#header-title{
    color: white;
    font-family: Smash-2 !important;
    font-size: 35px;
    top: 10px;
    left: 10px;
    position: relative;
    display: inline-block;
}


#title {
    text-align: center;
    position: relative;
    display: block;
    top: 150px;
    z-index: 10;
    background: #f4f4f4;
    width: 15em;
    margin: 0 auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
}

/* Selection screen */

#selection-screen {
    width: 90%;
    max-width: 937px;
    padding: 20px;
    background: #151518;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all .1s;
}

#character-inspect > * {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 50px;
    font-family: Smash-2;
}

#character-inspect{
    margin-top: 15px;
    background: rgb(37, 37, 37);
    width: 90%;
    max-width: 937px;
    margin: 0 auto;
    padding: 20px;
    border-top: 5px black solid;
    position: relative;
}

#stock-icon{
    float: right;
    position: relative;
    bottom: 10px;
}

#character-inspect-shadow{
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.356);
    z-index: 100;
}


#wrapper {
    display: block;
    width: 100%;
}

.fighter-selection {
    display: inline-block;
    position: relative;
    background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    overflow: hidden;
    cursor: pointer;
    transition: all .1s;
    width: 90px;
    height: 60px;
    margin: 1px;
}

.fighter-selection:hover {
    transform: scale(0.95);
    z-index: 100;
}

.fighter-selection:active {
    transform: scale(0.9);
}

.fighter-selection-img {
    width: 91px;
    height: 61px;
}

.row{
    position: relative;
    margin: 0 auto;
    margin-top: -4px;
}

/* Profile */

#profile{
    top: 30px;
    background: rgb(37, 37, 37);
    width: 90%;
    max-width: 937px;
    min-height: 150px;
    margin: 0 auto;
    padding: 20px;
    position: relative;   
}

/* Skin rating page */

#skin-tables{
    max-width: 60%;
    height: 800px;
    margin-left: 2%;
    margin-top: 2em;    
    display: inline-block;
}

#comments{
    margin-top: 1.5em;
    display: inline-block;
    width: 25%;
    position: relative;
    height: 800px;
    background: rgb(29, 29, 29);
    margin-left: 2%;
}

.character-skin-card{
    width: 15em;
    height: 20em;
    background: rgb(29, 29, 29);
    
    display: inline-block;
    margin: 1em;
    position: relative;
    transition: all .1s;
}

.character-skin-card:hover{
    transform: scale(1.05);
    outline: 5px red solid;
}


.card-row{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 69em;
}

.card-image{
    position: relative;
    width: 100%;
    background: radial-gradient(ellipse at center, rgb(87, 87, 87) 0%,rgb(24, 24, 24) 100%);
    border-bottom: solid 5px red;
}

.star {
    top: -10px;
    width: 2.5em;
    display: inline-block   ;
    cursor: pointer;
    position: relative;
    transition: all .1s;   
}

.star:active{
    transform: scale(.97) !important;
}

.star path{
    fill: rgb(66, 66, 66) !important;
    transition: all .1s;
}

.star path:hover{
    fill: red !important;
}

.star:hover{
    transform: scale(1.08);
}

.stars{
    top: .8em;
    width: 14em;
    margin: 0 auto;
    display: block;
    position: relative;
}

.info{
    color: white;
    font-weight: 900;
    font-size: 20px;
    display: block;
    top: -43px;
    text-align: center;
    position: relative;
    display: block; 
}

.comment-button{
    position: relative;
    fill: rgb(66, 66, 66) !important;
    display: inline-block;
    top: 5px;
    left: 5px;
    transform: scale(.8);
    transition: all .1s;
    cursor: pointer;
}

.comment-button:hover{
    transform: scale(0.9);
}

.comment-button:hover svg{
    fill: white;
}
.comment-button:active svg{
    transform: scale(.7);
}

.comment-svg{

}